.domo-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 100vh;
  }
  
  .domo-details {
    margin-bottom: 20px;
  }
  
  .domo-images-row {
    display: flex; /* Coloca os elementos lado a lado */
    justify-content: space-between;
    gap: 20px;
  }
  
  .domo-images {
    flex: 2;
  }
  
  .main-image {
    width: 1100px;
    border-radius: 10px;
    height: 697px;
  }
  
  .small-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
  
  .small-images img {
    width: 312px;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .reservation-section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .reservation-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 527px;
    height: 396px;
  }
  
  .reservation-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .reservation-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .reservation-form input,
  .reservation-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .reservation-form button {
    width: 457px;
    height: 48px;
    padding: 15px;
    margin-top: 20px;
    background-color: #7E2726;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .reservation-form button:hover {
    background-color: #7E2726;
  }
  
  .navigation-links {
    margin-top: 20px;
  }
  
  .navigation-links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .navigation-links a:hover {
    text-decoration: underline;
  }
  