.Imagens-acomodacoes{
    /* border: 2px solid red; */
    width: 400px;
    height: 250px;
    border-radius: 15px;
}
.Main-Acomodacoes{
    height: 150rem;
}
.Box-Acomodacoes{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border: 2px solid red; */

}
.Box-informacoes{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 25px;
    
}
.Box-nota-nome{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nome-acomodacao{
    font-weight: 500;
    font-size: 30px;
}
.Box-nota{
    color: #fff;
    width: 70px;
    height: 26px;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7e2726;
  }
.Box-descricao{
    /* border: 2px solid red; */
    height: 60%;
    display: flex;
    align-items: start ;
}
.Box-descricao p{
    /* border: 2px solid #7E2726;  */
    font-size: 14px;
    font-weight: 300;
}
.Box-hr{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.Sessao-Button-reserva{
    /* border: 2px solid red; */
    height: 50%;
    display: flex;
    justify-content: start;
}
.btn-reserva{
    /* border: 2px solid red; */
    width: 10rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    background: #7E2726;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}
.btn-reserva:hover{
    transform: scale(1.1);
}