.Imagens-acomodacoes{
    /* border: 2px solid red; */
    width: 500px;
    height: 280px;
    border-radius: 50px;
}
.Main-Acomodacoes{
    height: 150rem;
}
.Box-Acomodacoes{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border: 2px solid red; */

}
.Box-informacoes{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 25px;
    
}
.Box-nota-nome{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nome-acomodacao{
    font-weight: 600;
    font-size: 40px;
}
.Box-nota{
    color: #fff;
    width: 70px;
    height: 26px;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7e2726;
  }
.Box-descricao{
    /* border: 2px solid red; */
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Box-descricao p{
    font-size: 20px;
    font-weight: 300;
}
.btn-reserva{
    width: 10rem;
    height: 2.5rem;
    border-radius: 40px;
    border: none;
    background: #7E2726;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}
.btn-reserva:hover{
    transform: scale(1.1);
}