.Sessao-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 50px; 
    flex-wrap: wrap; 
}

.Sessao-caminhos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    max-width: 540px; 
}

.btn-user {
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.Sessao-reservas {
    display: flex;
    align-items: center;
    width: auto; 
    justify-content: space-around;
}

.Link {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.Link-reserva {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
.Box-reservas {
    background-color: black;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon {
    font-size: 23px; 
}

.Box-pesquisar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Icon-lupa {
    font-size: 1.5rem;
}

.Link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
}

.nav-item {
    position: relative;
}

.underline {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #7E2726;
    transition: width 0.3s ease-in-out;
}

.nav-item:hover .underline {
    width: 100%;
}

.underline.active {
    width: 100%;
}


@media (max-width: 768px) {
    .Sessao-navbar {
        flex-direction: column; 
        align-items: center; 
        padding: 20px; 
    }

    .Sessao-caminhos {
        width: 100%; 
        max-width: none; 
    }

    .Sessao-reservas {
        width: 100%; 
        justify-content: center; 
    }

    .Link {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    .Link {
        font-size: 12px; 
    }

    .Box-reservas {
        width: 100px; 
    }

    .Sessao-reservas{
     
        position: fixed;
        justify-content: end;
      }
}
