
.Informacoes-Pousada{
  width:24%;
  padding-left: 20px;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}
.Footer{
  height: 200px;
  width: 100%;
  background-color: #7E2726;
  /* border: 2px  solid red; */
  display: flex;
  justify-content: space-between;


  
}
.GoLinkExternal{
  color: #fff;
  transition: 0.2s ease-in-out;
}
.GoLinkExternal:hover{
  color: rgb(49, 49, 235);
}
.Redes-sociais-foote{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  align-items: end;
  /* border: 2px solid red; */
  padding-right: 20px;
  width:24%;
}
a{
  text-decoration: none;
  color: #fff;
  margin-top: 5px;
}
.Direitos{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  /* border: 2px solid red; */
  color:  #fff;
}
